<form>
  <div class="form-group">
    <label for="txtUsername">Username</label>
    <input [(ngModel)]="model.Username" type="text" class="form-control" id="txtUsername" placeholder="Enter email">
  </div>

  <div class="form-group">
    <label for="txtName">Name</label>
    <input [(ngModel)]="model.Name" type="text" class="form-control" id="txtName" placeholder="Enter Name">
  </div>

  <div class="form-group">
    <label for="txtSurname">Surname</label>
    <input [(ngModel)]="model.Surname"type="text" class="form-control" id="txtSurname" placeholder="Enter Surname">
  </div>

  <div class="form-group">
    <label for="txtLocation">Location</label>
    <input [(ngModel)]="model.LocationFK" type="text" class="form-control" id="txtLocation" placeholder="Enter Location">
  </div>

  <div class="form-group">
    <label for="txtDate">Date of Birth</label>
    <input [(ngModel)]="model.DateofBirth "type="date" id="txtDate" placeholder="Enter email">
  </div>

  <button type="button" class="btn btn-primary" (click)="Register()">Submit</button>
</form>
